.background{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.scrolly{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}